<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 수정</title>
    <link rel="stylesheet" href="/css/main.css" />
    <style>
        .uploadResult ul {
            display: flex;
            list-style: none;
        }

        .uploadResult ul li {
            position: relative;
        }

        .uploadResult ul li span {
            display: block;
            position: absolute;
            right: 10px;
            top: -25px;
            cursor: pointer;
            font-weight: bold;
            font-size: 1.5rem;
        }
    </style>
</head>
<body class="is-preload">
<!-- Main -->
<div id="main">
    <div class="wrapper">
        <div class="inner">

            <!-- Elements -->
            <header class="major">
                <h1>Board</h1>
                <p>게시글 수정</p>
            </header>
            <!-- Table -->
            <h3><a class="list button small" th:href="@{/board/list(page=${criteria.page}, type=${search.type}, keyword=${search.keyword})}">목록 보기</a></h3>
            <div class="content">
                <div class="form">
<!--                    <form method="post" id="updateForm" enctype="multipart/form-data">-->
                    <form th:action="@{/board/modify}" method="post" name="updateForm" th:object="${boardVO}">
                        <input type="hidden" name="page" th:value="${criteria.page}">
                        <input type="hidden" name="type" th:value="${search.type}">
                        <input type="hidden" name="keyword" th:value="${search.keyword}">
                        <div class="fields">
                            <div class="field">
                                <h4>번호</h4>
                                <input type="text" th:field="*{boardId}" readonly/>
                            </div>
                            <div class="field">
                                <h4>*제목</h4>
                                <input type="text" th:field="*{boardTitle}"/>
                            </div>
                            <div class="field">
                                <h4>*내용</h4>
                                <textarea rows="6" style="resize:none" th:field="*{boardContent}"></textarea>
                            </div>
                            <div class="field">
                                <h4>작성자</h4>
                                <input type="text" th:field="*{boardWriter}" readonly/>
                            </div>
                            <div class="field">
                                <h4>첨부파일</h4>
                                <input type="file" name="upload" multiple>
                            </div>
                            <div class="field">
                                <div class="uploadResult">
                                    <ul></ul>
                                </div>
                            </div>
                        </div>
                        <ul class="actions special">
                            <li>
                                <input type="button" class="button-update-button" value="수정 완료"/>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script th:inline="javascript">

    FileList.prototype.forEach = Array.prototype.forEach;
    let files = [[${files}]];
    let arFile = new Array();
    let arListTag = new Array();
    let arDeletedFile = new Array();
    let i = 0;
    const $ul = $("div.uploadResult ul");
    const $updateButton = $("input.button-update-button")




    showThumbnail();

    $("input[type=file]").on("change",e =>{
        const dataTransfer = new DataTransfer();
        let formData = new FormData();
        e.target.files.forEach(file =>{
            arFile.push(file);
            formData.append("multipartFiles",file);
        });

        arFile.forEach(file => dataTransfer.items.add(file));

        e.target.files = dataTransfer.files;

        $.ajax({
            url: "/files/upload",
            type: "post",
            data: formData,
            processData : false,
            contentType : false,
            success: function (files){
                let text = "";
                files.forEach(file => {
                    text +=`<li class ="new" data-file-name="${file.fileName}" data-file-upload-path="${file.fileUploadPath}" data-file-uuid="${file.fileUuid}" data-file-size="${file.fileSize}" data-file-is-image="${file.fileIsImage}">`
                    text += `<img class="file-cancel" src="/images/cancel_icon.png" width="25" style="position : absolute; right: 0; cursor: pointer;">`;
                    if(file.fileIsImage){
                        text += `<img src="/files/display?filePath=${file.fileUploadPath}/t_${file.fileUuid}_${file.fileName}">`
                    }else {
                        text += `<img src="/images/attach.png" width="100">`
                    }
                    text+=`
                            </li>
                         `

                });
                $ul.append(text);
                arListTag.push();
            }
        });
    });

    $updateButton.on("click",function (){
        let text = "";

        $("input[type=file]")[0].files.forEach((file , i) =>{
            let $listTag = $("li.new");
            text +=`
                <input type="hidden" name="files[${i}].fileName" value="${$listTag.eq(i).data("file-name")}">
                <input type="hidden" name="files[${i}].fileUploadPath" value="${$listTag.eq(i).data("file-upload-path")}">
                <input type="hidden" name="files[${i}].fileUuid" value="${$listTag.eq(i).data("file-uuid")}">
                <input type="hidden" name="files[${i}].fileSize" value="${$listTag.eq(i).data("file-size")}">
                <input type="hidden" name="files[${i}].fileIsImage" value="${$listTag.eq(i).data("file-is-image")}">
        `
        });
        $("form[name=updateForm]").append(text).submit();

    });

    function showThumbnail(){
        let text = ""

        files.forEach((file , i) =>{
            text +=`<li data-file-name="${file.fileName}" data-file-upload-path="${file.fileUploadPath}" data-file-uuid="${file.fileUuid}" data-file-size="${file.fileSize}" data-file-is-image="${file.fileIsImage}">`
            text += `    <div style="width: 100px; height: 100px">`
            text += `        <img data-index="${i}" class="file-cancel" src="/images/cancel_icon.png" width="25" style="position : absolute; right: 0; cursor: pointer;">`;
            if(file.fileIsImage){
                text +=     `<img src="/files/display?filePath=${file.fileUploadPath}/t_${file.fileUuid}_${file.fileName}">`
            }else {
                text +=     `<img src="/images/attach.png" width="100">`
            }
            text +=`
                        </div>
                        <p style="font-size: 10px">${file.fileName}(${file.fileSize}KB)</p>
                    </li>
                  `;
        });
        $ul.html(text);
    }

    let FileTemp;

    $ul.on("click", "img.file-cancel", function () {
        const dataTransfer = new DataTransfer();
        let index = $("li.new").index(this.closest("li"));
        $(this).closest("li").remove();
        if(index != undefined) {//새롭게 추가된 파일을 취소할 경우
            arFile.splice(index , 1)

            arFile.forEach(file => dataTransfer.items.add(file));
            $("input[type=file]")[0].files = dataTransfer.files;
            i--;
        }
    });
</script>

</html>