<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 상세보기</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <style>
        .uploadResult ul {
            display: flex;
            list-style: none;
        }
        h4 {
            margin: 0;
        }
        .line{
            border-bottom: 1px solid #ff8b77;
        }
        p {
            margin: 0;
        }

        textarea {
            resize: none;
        }
        div#searchWrap { display: flex; text-align: center; }
        select{width: 30%;}
    </style>
</head>
<body class="is-preload">
<!-- Main -->
<div id="main">
    <div class="wrapper">
        <div class="inner">

            <!-- Elements -->
            <header class="major">
                <h1>Board</h1>
                <p>게시글 상세보기</p>
            </header>
            <!-- Table -->
            <h3><a class="list button small" th:href="@{/board/list(page=${criteria.page}, type=${search.type}, keyword=${search.keyword})}">목록 보기</a></h3>
            <div class="content">
                <div class="form" th:object="${boardVO}">
                    <form th:action="@{/board/remove(boardId = *{boardId})}">
                        <div class="fields">
                            <div class="field">
                                <h4>번호</h4>
                                <input type="text" th:field="*{boardId}" readonly/>
                            </div>
                            <div class="field">
                                <h4>제목</h4>
                                <input type="text" th:field="*{boardTitle}" readonly/>
                            </div>
                            <div class="field">
                                <h4>내용</h4>
                                <textarea rows="6" style="resize:none" th:field="*{boardContent}" readonly></textarea>
                            </div>
                            <div class="field">
                                <h4>작성자</h4>
                                <input type="text" th:field="*{boardWriter}" readonly/>
                            </div>
                            <div class="field">
                                <h4>첨부파일</h4>
                                <div class="uploadResult">
                                    <ul>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <ul class="actions special">
                            <li>
                                <input type="button" class="button" value="수정" onclick="modify()"/>
                                <input type="submit" class="button" value="삭제"/>
                            </li>
                        </ul>
                        <ul class="icons">
                            <li style="display: block">
                                <span class="icon solid fa-envelope"></span>
                                <strong>댓글</strong>
                            </li>
                            <div class="fields">
                                <div class="field">
                                    <div id="searchWrap">
                                        <select name="type">
                                            <option value="">검색 기준</option>
                                            <option value="tcw">전체</option>
                                            <option value="c">내용</option>
                                            <option value="w">작성자</option>
                                        </select>
                                        <input type="text" name="keyword">
                                        <a class="search button primary icon solid fa-search">검색</a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                        <a href="javascript:void(0)" class="register button primary small" style="width: 100%">댓글 등록</a>
                        <div style="display: none" class="register-form">
                            <div>
                                <h4>작성자</h4>
                                <input type="text" name="replyWriter" placeholder="Replier">
                            </div>
                            <div>
                                <h4>댓글</h4>
                                <textarea rows="6" name="replyContent" placeholder="Reply" style="resize: none"></textarea>
                            </div>
                            <div style="text-align: right">
                                <a href="javascript:void(0)" class="finish button primary small">등록</a>
                                <a href="javascript:void(0)" class="cancel button primary small">취소</a>
                            </div>
                        </div>
                        <ul class="replies"></ul>
                        <a href="javascript:void(0)" class="more-replies button primary small" style="width: 100%">더보기</a>

                    </form>
                    <div class="paging" style="text-align: center"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script>
    let boardId = [[${boardVO.boardId}]]
    let replyPage = 1;
    let rowCount = 10;
</script>
<script src="/js/reply.js"></script>


<script th:inline="javascript">
    let page = [[${criteria.page}]];
    let type = [[${search.type}]];
    let keyword = [[${search.keyword}]];
    let files = [[${files}]];
    const $ul = $(".uploadResult ul");

    showThumbnail();

    function modify() {
        location.href = `/board/modify?boardId=${boardId}&page=${page}&type=${type}&keyword=${keyword}` ;
    }

    function showThumbnail(){
        let text = ""

    files.forEach(file =>{
            text +=`<li style="cursor: pointer">`
            text +=     `<a href="/files/download?filePath=${file.fileUploadPath}/${file.fileUuid}_${file.fileName}">`
            text +=     `<div style="width: 100px; height: 100px">`
            if(file.fileIsImage){
                text +=     `<img src="/files/display?filePath=${file.fileUploadPath}/t_${file.fileUuid}_${file.fileName}">`
            }else {
                text +=     `<img src="/images/attach.png" width="100">`
            }
            text +=`
                        </div>
                        <a>
                        <p style="font-size: 10px">${file.fileName}(${file.fileSize}KB)</p>
                    </li>
                  `;
        });
        $ul.html(text);
    }
</script>
</html>