<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 작성</title>
    <link rel="stylesheet" href="/css/main.css" />
    <style>
        .uploadResult ul {
            display: flex;
            list-style: none;
        }

        .uploadResult ul li {
            position: relative;
        }

        .uploadResult ul li span {
            display: block;
            position: absolute;
            right: 10px;
            top: -25px;
            cursor: pointer;
            font-weight: bold;
            font-size: 1.5rem;
        }
    </style>
</head>
<body class="is-preload">
<!-- Main -->
<div id="main">
    <div class="wrapper">
        <div class="inner">
            <!-- Elements -->
            <header class="major">
                <h1>Board</h1>
                <p>게시글 등록</p>
            </header>
            <!-- Table -->
            <h3><a class="list button small" th:href="@{/board/list}">목록 보기</a></h3>
            <div class="content">
                <div class="form">
<!--                    <form method="post" id="writeForm" enctype="multipart/form-data" th:object="${boardVO}">-->
                    <form th:action="@{/board/write}" method="post" name="writeForm" th:object="${boardVO}">
                        <div class="fields">
                            <div class="field">
                                <h4>제목</h4>
                                <input placeholder="Title" type="text" th:field="*{boardTitle}" />
                            </div>
                            <div class="field">
                                <h4>내용</h4>
                                <textarea rows="6" placeholder="Content" style="resize:none" th:field="*{boardContent}"></textarea>
                            </div>
                            <div class="field">
                                <h4>작성자</h4>
                                <input placeholder="Writer" type="text" th:field="*{boardWriter}" />
                            </div>
                            <div class="field">
                                <h4>첨부파일</h4>
                                <input type="file" name="multipartFiles" multiple>
                            </div>
                            <div class="field">
                                <div class="uploadResult">
                                    <ul></ul>
                                </div>
                            </div>
                        </div>
                        <ul class="actions special">
                            <li><input type="button" class="button register-button" value="등록" /></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script>
    FileList.prototype.forEach = Array.prototype.forEach;
    const $ul = $("div.uploadResult ul");
    const $registerButton = $("input.register-button");
    let arFile = new Array();

    $registerButton.on("click",function (){
        let text = "";
        $ul.children("li").each((i, li) =>{
        let $li = $(li);
        text +=`
            <input type="hidden" name="files[${i}].fileName" value="${$li.data("file-name")}">
            <input type="hidden" name="files[${i}].fileUploadPath" value="${$li.data("file-upload-path")}">
            <input type="hidden" name="files[${i}].fileUuid" value="${$li.data("file-uuid")}">
            <input type="hidden" name="files[${i}].fileSize" value="${$li.data("file-size")}">
            <input type="hidden" name="files[${i}].fileIsImage" value="${$li.data("file-is-image")}">
        `
        });
        $("form[name=writeForm]").append(text);
        $("form[name=writeForm]").submit();
    });

    $("input[type=file]").on("change",e =>{
        const dataTransfer = new DataTransfer();
        let formData = new FormData();
        e.target.files.forEach(file =>{
            arFile.push(file);
            formData.append("multipartFiles",file);
        });

        arFile.forEach(file => dataTransfer.items.add(file));

        e.target.files = dataTransfer.files;

        $.ajax({
            url: "/files/upload",
            type: "post",
            data: formData,
            processData : false,
            contentType : false,
            success: function (files){
                let text = "";
                files.forEach(file => {
                    text +=`<li data-file-name="${file.fileName}" data-file-upload-path="${file.fileUploadPath}" data-file-uuid="${file.uuid}" data-file-size="${file.fileSize}" data-file-is-image="${file.fileIsImage}">`
                    text += `<img class="file-cancel" src="/images/cancel_icon.png" width="25" style="position : absolute; right: 0; cursor: pointer;">`;
                    if(file.fileIsImage){
                        text += `<img src="/files/display?filePath=${file.fileUploadPath}/t_${file.fileUuid}_${file.fileName}">`
                    }else {
                        text += `<img src="/images/attach.png" width="100">`
                    }
                    `
                        </li>
                    `

                });
                $ul.append(text);
            }
        });
    });

    $ul.on("click", "img.file-cancel", function () {
        const dataTransfer = new DataTransfer();
         let i = $("img.file-cancel").index(this);
        // Array객체에서 원하는 인덱스 삭제
        arFile.splice(i, 1);
        arFile.forEach(file => dataTransfer.items.add(file));
        $("input[type=file]")[0].files = dataTransfer.files;
        $(this).closest("li").remove();
    });
</script>
</html>